

.bg1 {
    background-image: url('../image/bg-img/bg-1.jpg');
}
.bg2 {
    background-image: url('../image/bg-img/bg-2.jpg');
}
.bg3 {
    background-image: url('../image/bg-img/bg-3.jpg');
}
.bg4 {
    background-image: url('../image/bg-img/bg-4.jpg');
}